version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: ./build/docker/Dockerfile
    pull_policy: never
    hostname: go-app
    image: sample_ws_backend
    container_name: sample_ws_backend
    restart: always
    ports:
      - 8080:8080
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus